body {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 600px;
  text-align: left;
}

ul {
  display: block;
  margin: 0px;
  padding: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  background-color: #333;
}
li a {
  /* background-color: #333; */
  /* border-color: #333; */
  color: white;
  padding: 18px 34px;
  text-decoration: none;
  text-align: center;
}
li a:hover {
  background-color: orange;
  color: white;
  border: 1px solid;
}
li {
  display: inline;
}
